body {
    margin: 0;
    /* Removing any margin */
    background: darkgray;
    overflow: hidden;
    /* To stop any scrolling action */
    text-align: center;
}

#carCanvas {
    background: lightgray;
}

#networkCanvas {
    background: black;
}
